@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

:root {
    --pink: rgb(239, 71, 111);
    --yellow: rgb(255, 209, 102);
    --cayn: rgb(6, 214, 160);
    --blue: rgb(17, 138, 178);
    --nightGreen: rgb(7, 59, 76);
    --backgroung: rgb(83, 248, 218);
}

body {
    height: 100vh;
    width: 100vw;
    background: url(assets/background1.jpg);
    background-size: cover;
    /* text-align: center; */
}

.wrapper {
    height: 100%;
    overflow-y: scroll;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    width: 90%;
    height: 90%;

    max-width: 450px;
    padding: 6px;

    margin-bottom: 1rem;

}

.title {
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    font-size: 3.6rem;
    color: white;
    background-image: linear-gradient(var(--backgroung), var(--blue), transparent);
    border-radius: 1rem 1rem 0 0;
    cursor: default;
}

.copySection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: 6px solid white;
    border-radius: 1.2rem;
    background: #2c2c2c25;
    backdrop-filter: blur(15px);
    margin: 1rem 0;
}

.copyEmoji {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.5rem;
    line-height: 40px;
    width: 300px;
    width: 100%;
    padding: 6px;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
}


.copyBtn {
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.copyBtn:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}

.copyMsg {
    position: absolute;
    right: -60%;
    top: -100%;
    background-color: var(--nightGreen);
    color: white;
    opacity: 0.85;
    font-size: 20px;
    font-weight: 700;
    padding: 0.3rem 0.6rem;
    border-radius: 1rem;
    scale: 0;
    transition: all 0.4s;
}

.active {
    scale: 1;
    transform: translateY(-10px);
}

.inputSection {
    padding: 1.2rem 1rem;
    border: 6px solid white;
    border-radius: 1.2rem;
    background: #2c2c2c25;
    backdrop-filter: blur(15px);
    /* padding-bottom: 1rem; */
}

.countContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    font-size: 2rem;
    font-weight: 600;
    color: white;
}

.feeling {
    position: relative;
    display: flex;
    align-items: center;
}

.feeling label {
    position: absolute;
    left: 40px;
    top: 3px;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;

}

.feelingSliderContainer {
    position: relative;
    display: flex;
}

.feelingSliderContainer p {
    position: absolute;
    right: 10px;
    top: -15px;
    font-size: 2.8rem;
    cursor: default;
}

.getFeelingBtn {
    position: relative;
    width: 100%;
    background: none;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 30px;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(var(--backgroung), var(--blue));
    transition: all 0.4s;
}

.getFeelingBtn:active {
    transform: scale(0.95);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.644);
    /* Lowering the shadow */
}

.selectFeelingMsg {
    position: absolute;
    top: -40px;
    left: 26%;
    font-size: 1.5rem;
    padding: 1rem;
    background-image: linear-gradient(var(--backgroung), var(--blue), transparent);
    border-radius: 1rem;
    scale: 0;
    transition: all 0.4s;
}

.active {
    scale: 1;
    transform: translateY(-10px);
}

/* Sliders========================================= */

.slider {
    appearance: none;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    height: 0.75rem;
    background-color: white;
    border-radius: 1rem;
    margin: 1rem 1rem 2rem 0;
    background-image: linear-gradient(var(--backgroung), var(--backgroung));
    background-repeat: no-repeat;

    /* appearance: none;
    width: 100%;
    height: 0.75rem;
    cursor: pointer;
    background-color: orange;
    border-radius: 1rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    background-image: linear-gradient(black, black);
    background-repeat: no-repeat;
    border: none;
    outline: none; */
}

.slider::-webkit-slider-thumb {
    appearance: none;
    cursor: pointer;
    position: relative;
    background-color: white;
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%;
    /* box-shadow: 0px 0px 20px 0px cyan; */
}

.slider::-moz-range-thumb {
    appearance: none;
    cursor: pointer;
    position: relative;
    background-color: white;
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%;
    /* box-shadow: 0px 0px 20px 0px cyan; */
}




.slider:hover {
    box-shadow: 0px 0px 20px 0px cyan;
}

.slider::-webkit-slider-thumb:hover {

    box-shadow: 0px 0px 20px 0px cyan;
}

.slider::-moz-range-thumb :hover {
    box-shadow: 0px 0px 20px 0px cyan;
}

.fslider {
    appearance: none;
    border: none;
    outline: none;
    cursor: pointer;
    width: 60%;
    height: 0.55rem;
    background-color: white;
    border-radius: 1rem;
    margin: 1rem 0 1.5rem 0;
    background-image: linear-gradient(var(--backgroung), var(--backgroung));
    /* 
    appearance: none;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    height: 0.75rem;
    background-color: white;
    border-radius: 1rem;
    margin: 1rem 1rem 2rem 0;
    background-image: linear-gradient(var(--backgroung), var(--backgroung)); */
    background-repeat: no-repeat;

}

.fslider::-webkit-slider-thumb {
    appearance: none;
    cursor: pointer;
    position: relative;
    background-color: white;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
    /* box-shadow: 0px 0px 20px 0px cyan; */
}

.fslider::-moz-range-thumb {
    appearance: none;
    cursor: pointer;
    position: relative;
    background-color: white;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
    /* box-shadow: 0px 0px 20px 0px cyan; */
}

.fslider:hover {
    box-shadow: 0px 0px 20px 0px cyan;
}

.fslider::-webkit-slider-thumb:hover {

    box-shadow: 0px 0px 20px 0px cyan;
}

.fslider::-moz-range-thumb :hover {
    box-shadow: 0px 0px 20px 0px cyan;
}

/* CheckBox========================================= */

.check {
    appearance: none;
    position: relative;
    width: 25px;
    height: 25px;
    border: 4px solid white;
    border-radius: 1rem;
    margin-right: 1rem;
}

.check:checked {
    border: var(--backgroung);
    background-color: var(--backgroung);
}

.check:checked::before {
    content: '✔';
    position: absolute;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    left: 70%;
    top: -23.5px;
    transform: translateX(-50%) translateY(40%);
}